<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EditTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EditTools.Properties.Settings>
            <setting name="mindist" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="boilerplate" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="lastlang" serializeAs="String">
                <value>English (Canada)</value>
            </setting>
            <setting name="minphraselen" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="maxphraselen" serializeAs="String">
                <value>6</value>
            </setting>
        </EditTools.Properties.Settings>
    </userSettings>
</configuration>